<div id="f1755835326195">
  <h2>Group child</h2>
  <p>
    Group name format:
    <input id="name-format" type="text" />
  </p>
  <p>
    <input id="ignore-single-group" type="checkbox" />
    Ignore child with single group
  </p>
  <button id="group-child">Group child</button>
  <button id="cancel">Cancel</button>

  <p>
    <div style="padding: 16px; border: 1px solid grey; background: #fffbd8;">
      <b>Note:</b>
      <ul>
        <li>Use {seq} to insert the sequence number starting from 1.</li>
        <li>Use {idx} to insert the sequence number starting from 0.</li>
        <li>Use {name} to insert the original layer name.</li>
        <li>Use {count} to insert the total number of layers.</li>
        <li>Use {type} to insert the type of the layer in lowercase, i.e: frame, text, etc.</li>
        <li>Use {type-uppercase} to insert the type of the layer in uppercase, i.e: FRAME, TEXT, etc.</li>
        <li>Use {type-capitalized} to insert the type of the layer in capitalized, i.e: Frame, Text, etc.</li>
      </ul>
    </div>
  </p>
</div>

<script>
  document.getElementById('group-child').onclick = () => {
    const nameFormat = document.getElementById('name-format').value
    const ignoreSingleGroup = document.getElementById('ignore-single-group').checked
    parent.postMessage({ pluginMessage: { type: 'groupChild', nameFormat, ignoreSingleGroup } }, '*')
  }

  document.getElementById('cancel').onclick = () => {
    parent.postMessage({ pluginMessage: { type: 'showView', view: 'main' } }, '*')
  }
</script>
